@mixin large-h1 {
  margin-bottom: 24px;
  color: #434e59;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
}
@mixin desc {
  margin-bottom: 16px;
  color: rgba(0,0,0,.45);
  font-size: 20px;
  line-height: 28px;
}
.error-403 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: -100px;
  .error-image {
    width: 430px;
    height: 360px;
    background-image: url("../../../static/error.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  h1{
    @include large-h1
  }
  .error-desc {
    @include desc
  }
}
